.git/
**/build/
**/node_modules/
**/package-lock.json
bun.lockb
bun.lockb.txt
frontend/.svelte-kit/
**/settings.json
**/*.log
**/*.crt
**/*.key
**/*.pem
**/.idea/
vite.config.js.timestamp-*
.secret_git
