:root {
	--form-bg: rgba(255, 255, 255, 0.75);
	--form-text: #000;
}

body {
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

canvas {
	width: 100%;
	height: 100%;
}

input,
select {
	padding: 10px;
	border: 1px solid #000;
	border-radius: 10px;
	background-color: var(--form-bg);
	color: var(--form-text);
}

.form {
	border: 1px solid #000;
	border-radius: 10px;
}

.button {
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
	border: 1px solid #000;
	background-color: var(--form-bg);
	color: var(--form-text);
	cursor: pointer;
}

.loader {
	margin: 0 auto;
	width: 19px;
	height: 19px;
	border-radius: 50%;
	background:
		radial-gradient(farthest-side, #000 94%, transparent) top/5px 5px no-repeat,
		conic-gradient(transparent 30%, #000);
	-webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 5px), #000 0);
	animation: loader 1s infinite linear;
}

@keyframes loader {
	100% {
		transform: rotate(1turn);
	}
}

.bold {
	font-weight: bold;
}

.chat-bubble {
	font-size: 18px;
	line-height: 24px;
	width: max-content;
	max-width: 250px;
	overflow-wrap: break-word;
	padding: 5px 10px;
	border-radius: 16px;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow:
		0 2px 8px rgba(0, 0, 0, 0.3),
		0 1px 2px rgba(0, 0, 0, 0.2);
	margin-bottom: 20px;
}

.chat-bubble:before {
	position: absolute;
	width: 0;
	height: 0;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	border: 10px solid transparent;
	border-bottom: none;
	border-top-color: rgba(255, 255, 255, 0.5);
	filter: drop-shadow(0 -1px 1px rgba(0, 0, 0, 0.1));
	content: '';
}

.name-tag {
	font-size: 22px;
	padding: 5px 10px;
	border: 1px solid #000;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}
