:root {
 --form-bg: #FFFFFFBF;
 --form-text: #000;
}

body {
 margin: 0;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

canvas {
 width: 100%; height: 100%;
}

input, select {
 padding: 10px;
 border: 1px solid #000;
 border-radius: 10px;
 background-color: var(--form-bg);
 color: var(--form-text);
}

.form {
 border: 1px solid #000;
 border-radius: 10px;
}

.button {
 padding: 10px;
 border-radius: 10px;
 text-align: center;
 font-weight: bold;
 border: 1px solid #000;
 background-color: var(--form-bg);
 color: var(--form-text);
 cursor: pointer;
}

.loader {
 margin: 0 auto;
 width: 19px;
 height: 19px;
 border-radius: 50%;
 background:
  radial-gradient(farthest-side, #000 94%, transparent) top/5px 5px no-repeat,
  conic-gradient(transparent 30%, #000);
 -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 5px), #000 0);
 animation: loader 1s infinite linear;
}

@keyframes loader {
 100% {
  transform: rotate(1turn);
 }
}

.bold {
 font-weight: bold;
}

.dot {
 display: inline-block;
 width: 20px;
 height: 20px;
 border-radius: 50%;
}

.red {
 background-color: #F00;
}

.orange {
 background-color: #F80;
}

.yellow {
 background-color: #FF0;
}

.green {
 background-color: #0F0;
}

.blue {
 background-color: #00F;
}

.violet {
 background-color: #80F;
}

.gray {
 background-color: #888;
}

.white {
 background-color: #FFF;
}

#login {
 display: flex;
 flex-direction: column;
 gap: 10px;
 position: absolute;
 top: calc(50% - (110px + 10px));
 left: calc(50% - (150px + 10px));
 width: 300px;
 height: 220px;
 padding: 10px;
 background-color: var(--form-bg);
 color: var(--form-text);
}

#login .logo {
 font-size: 25px;
 font-weight: bold;
 text-align: center;
}

#login .color-picker {
 display: flex;
 justify-content: center;
 gap: 5px;
}

#login .color-picker .color {
 cursor: pointer;
 width: 30px;
 height: 30px;
 border: 1px solid #000;
 border-radius: 5px;
}

#login .color-picker .color.active {
 border: 3px solid #000;
}

#chat {
 position: absolute;
 top: 10px;
 left: 10px;
 width: 200px;
 height: 200px;
 overflow: auto;
 padding: 10px;
 background-color: var(--form-bg);
 color: var(--form-text);
}

#message {
 position: absolute;
 top: 240px;
 left: 10px;
 width: 200px;
 background-color: var(--form-bg);
 color: var(--form-text);
}

#leave {
 position: absolute;
 top: 10px;
 right: 10px;
}

#status {
 position: absolute;
 display: flex;
 bottom: 0px;
 padding: 10px;
 gap: 10px;
 align-items: center;
 width: calc(100% - 20px);
 background-color: #333333BF;
 color: #FFF;
}
